@font-face {
  font-family: "NeueMontreal-Bold";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
}
@font-face {
  font-family: "NeueMontreal-Medium";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");

}
